In [ ]:
#https://www.udemy.com/course/python-for-every1/learn/lecture/14569390?start=15#overview
#4 saat

In [1]:
print("Welcome to Python Tutorials")

Welcome to Python Tutorials

In [2]:
#@, $, % isimlendirmede olmamalı
#sayı ile başlamaz
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
print(len(keyword.kwlist))

35

In [4]:
#vinothrsguidance.com

In [5]:
#çoklu atama
a,b,c,d=10,20,30,40
print(a,b,c,d)

10 20 30 40

In [6]:
graph1=graph2=graph3="DataScience"
print(graph1,graph2,graph3)

DataScience DataScience DataScience

In [7]:
#aynı değer atanan değişkenler için id aynıdır
print(id(graph1))
print(id(graph2))

2202044021616
2202044021616

In [8]:
graph2="python"
print(id(graph2))

2201998226992

In [10]:
#veri tipleri number, string,list,tuple, dictionary
#numbers--> integer float complex numbers
type(graph1)

str

In [11]:
#bir sayı diğer sayıya // ile bölünürse tam sayı verir // +- farketmez
#/ ile bölümde float döner // ile integer döner

In [13]:
a=20
b=10
print('{} > {} is '.format(a,b),a>b)
print('{} < {} is '.format(a,b),a<b)
print('{} == {} is '.format(a,b),a==b)
print('{} != {} is '.format(a,b),a!=b)
print('{} >= {} is '.format(a,b),a>=b)
print('{} <= {} is '.format(a,b),a<=b)

20 > 10 is  True
20 < 10 is  False
20 == 10 is  False
20 != 10 is  True
20 >= 10 is  True
20 <= 10 is  False

In [14]:
j=1
j+=1
j

2

In [16]:
#liste yapılarında id değeri farklı olur aynı değer atansa bile
#kısacası memorydeki adresi aynıysa karşılaştırma true döner

In [ ]:
#python 4 tip controle sahiptir
#if, if else, if elif else , nested if

In [18]:
#for iterating_var in sequence:
#    statements(s)
fruits=["Apple","Banana","Mango"]
for i in fruits:
    print(i)

Apple
Banana
Mango

In [22]:
numbers=[1,5,10,15,45,50]
sum=0
for val in numbers:
    sum=sum+val
print(sum)

126

In [23]:
numbers=[1,5,10,15,45,50]
for i in numbers:
    print(i)
else:
    print("No items left")

1
5
10
15
45
50
No items left

In [24]:
for x in "python":
    print(x)

p
y
t
h
o
n

In [25]:
#range()
print(range(10))

range(0, 10)

In [26]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [29]:
fruits=["Apple","Banana","Mango"]
for index in range(len(fruits)):
    print('Fruit name is :',fruits[index])

Fruit name is : Apple
Fruit name is : Banana
Fruit name is : Mango

In [30]:
for x in range(1,4):
    for y in range(1,4):
        print(x,y)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [33]:
adj=["red","big","tasty"]
fruits=["Apple","Banana","Mango"]
for x in adj:
    for y in fruits:
        print(x,y)

red Apple
red Banana
red Mango
big Apple
big Banana
big Mango
tasty Apple
tasty Banana
tasty Mango

In [34]:
fruits=["Apple","Banana","Mango"]
for x in fruits:
    print(x)
    if x=="Banana":
        break

Apple
Banana

In [35]:
for x in range(1,4):
    for y in range(1,4):
        print(x,y)
        if x==2 and y==2:
            break
#2,3 ü vermedi 3 ile başlayan loopa gitti

1 1
1 2
1 3
2 1
2 2
3 1
3 2
3 3

In [36]:
i=0
while i<=10:
    i+=1
    if i==5:
        continue
    print(i)
#5 numarayı pas geçti 6dan devam etti

1
2
3
4
6
7
8
9
10
11

In [40]:
numbers=[1,2,3,4,5,9,20,23,36]
for num in numbers:
    if num%2!=0:
        continue
    print(num)

2
4
20
36

In [41]:
#ASCII kodlarını görmek istersek
ch='b'
print(ord(ch))

98

In [42]:
print(chr(97))
print(chr(65))
print(chr(98))

a
A
b

In [43]:
str1="All the best"
print("best" in str1)

True

In [44]:
str1="Welcome to Python Session"
print(str1.split())

['Welcome', 'to', 'Python', 'Session']

In [45]:
print(len(str1))

25

In [47]:
print(str1.lower())

welcome to python session

In [48]:
print(str1.islower())

False

In [49]:
print(str1.upper())
print(str1.isupper())

WELCOME TO PYTHON SESSION
False

In [50]:
print(str1.isalpha())

False

In [51]:
print(str1.isdigit())

False

In [52]:
print(str1.isalnum())

False

In [53]:
str1="Welcome to Python Session"
substring ="to"
print("The count is:",str1.count(substring))

The count is: 1

In [54]:
string1="-"
string2="123456"
print("string1.join(string2): ",string1.join(string2))

string1.join(string2):  1-2-3-4-5-6

In [55]:
print(str1.split(" "))

['Welcome', 'to', 'Python', 'Session']

In [56]:
print(str1.split())  #boşluk yazmadan da olabilir

['Welcome', 'to', 'Python', 'Session']

In [58]:
str="Do you like programming?"
print("Substring like at index:",str.find('like'))

Substring like at index: 7

In [59]:
fruit='Appla'
print(fruit.replace('a','e'))

Apple

In [60]:
String='dzsewkitng'
print(sorted(String))

['d', 'e', 'g', 'i', 'k', 'n', 's', 't', 'w', 'z']

In [61]:
text ="Python is easy to learn"
print(text.startswith("Python"))

True

In [62]:
print(text.endswith("learn"))

True

In [12]:
#Listeler
list1=[26,34,24,61,132]
min(list1)

24

In [4]:
max(list1)

132

In [5]:
#sum almak
sum(list1)

277

In [6]:
#append sona ekler
list1.append(30)
list1

[26, 34, 24, 61, 132, 30]

In [10]:
list2=[10,20]
list1.append(list2)
list1

[26, 34, 24, 61, 132, [10, 20]]

In [14]:
#sonuna eklerken liste olarak eklenmesin üye olarak eklensin istersek
#extend kullanırız
list1=[26,34,24,61,132]
list1.extend(list2)
list1

[26, 34, 24, 61, 132, 10, 20]

In [17]:
list1=[1,2,3,4,6,7,8,9,10]
list1.insert(4,5)  #önce lokasyon sonra değer
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
#remove
list1=[1,2,3,4,6,7,8,9,10,4]
list1.remove(4)  #4ü ilk bulduğu yerden siler
list1

[1, 2, 3, 6, 7, 8, 9, 10, 4]

In [19]:
list1=[1,2,3,4,5,6,7,8,9,10]
a=list1.pop()  #en sondan siler
print(a)
print(list1)

10
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
b=list1.pop(2)  #2.indexteki değeri sil der 3 numara gider
print(b)
print(list1)

3
[1, 2, 4, 5, 6, 7, 8, 9]

In [23]:
numbers=[1,2,3,1,2,3,1,2]
numbers.count(1)  #1 den kaç tane var

3

In [26]:
#reverse
numbers.reverse()
print(numbers)

[2, 1, 3, 2, 1, 3, 2, 1]

In [27]:
#sort 
vowel=['e','a','u','o','i']
vowel.sort()
print(vowel)

['a', 'e', 'i', 'o', 'u']

In [28]:
vowel=['e','a','u','o','i']
vowel.sort(reverse=True)  #reverse True dersek tersten sıralar
print(vowel)

['u', 'o', 'i', 'e', 'a']

In [30]:
str2="Doktor,Hakim,Ogretmen"
print(str2.split(','))

['Doktor', 'Hakim', 'Ogretmen']

In [33]:
cube=[]
for i in range(10):
    cube.append(i**3)
print(cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [38]:
#lambda ile yapalım
cube=[i**3 for i in range(10)]
cube

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [39]:
#even
list1=[x for x in range(20) if x%2==0]
print(list1)
#odd
list2=[x for x in range(20) if x%2!=0]
print(list2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [40]:
#Python Tuples
#tuples immutable yani değiştirilemez
#farklı tipte veri alabilir
tuple1=((15,25),("Python","Data Science","Data Engineering"))
tuple1

((15, 25), ('Python', 'Data Science', 'Data Engineering'))

In [41]:
name=('python')
print(type(name))

<class 'str'>

In [43]:
name2=('python',)   #virgül olunca tuple olarak oluşturdu
print(type(name2))

<class 'tuple'>

In [ ]:
#index aynen geçerli
#update ya da değerini değiştirme yapılamaz. delete işlemi de yapılamaz
#ancak del tuple2 deyip tupleı komple silebliriz

In [1]:
# + ile concat olabilir
# * ile çoklanabilir len ile uzunluğu ölçülebilir
#24 in tuple ile var mı kontrol edilebilir
#min ve max ile değerler en büyük ve küçük değerler bulunabilir
#sum ile değerler toplanabilir
#numbers.count() ile kaç tane ilgili değerden var bakılabilir
#numbers.index(3)  ile 3 değeri ilk kaçıncı indexte bulunabilir
#sort()  kullanılabilir yine reverse=True ile tersten sıralanabilir
#tuple([1,2,3]) ile tuplea çevrilebilir

In [2]:
tuple1=tuple(('Python'))
tuple1

('P', 'y', 't', 'h', 'o', 'n')

In [3]:
#dictionaryden tuplea çevirelim
tuple2=tuple({1:'Vinoth',2:'Andy'})
tuple2  #keyleri verir

(1, 2)

In [4]:
#değişmeyecek değerler için tuple avantajlıdır
#ayrıca iterasyonda tuple listten hızlıdır
#dictionaryden tuplea çevirmek mümkündür listede bunu yapamayız

In [5]:
#Dictionary
#key-value saklar
#key kullanarak retrieve,add ,remove,modify yapılabilir
#mutabledır yani değiştirilebilir
#index diye birşey yoktur

In [6]:
# {} ile oluşturulabilir
colors={1:'red',2:'green',3:'Yellow'}
colors

{1: 'red', 2: 'green', 3: 'Yellow'}

In [7]:
#mixed type keys dictionary
dict1={'name':'Andy',1:['red','green']}
dict1

{'name': 'Andy', 1: ['red', 'green']}

In [8]:
type(dict1)

dict

In [9]:
#dictionary duplicate key kabul etmez
#en son keye göre alır
colors={1:'red',2:'green',3:'Yellow',2:'blue'}
colors  #sondaki 2:blue  alır

{1: 'red', 2: 'blue', 3: 'Yellow'}

In [10]:
details={'name':'Andy','age':30,'address':'London'}
details['name']

'Andy'

In [11]:
#Olmayan değer için key hatası almamak için get metodu kullanılır
details.get('name')

'Andy'

In [14]:
print(details.get('phonenumber'))  #olmayan değer için bu sefer None döner

None

In [15]:
#element eklemek istersek
details['phonenumber']='1823912839'
details

{'name': 'Andy', 'age': 30, 'address': 'London', 'phonenumber': '1823912839'}

In [16]:
#değerleri değiştirmek istersek
details['age']=32
details

{'name': 'Andy', 'age': 32, 'address': 'London', 'phonenumber': '1823912839'}

In [17]:
#element silmek istersek
#pop()
details.pop('age')
details

{'name': 'Andy', 'address': 'London', 'phonenumber': '1823912839'}

In [18]:
#popitem()  en sondaki itemi siler
details.popitem()  #phonenumber siler
details

{'name': 'Andy', 'address': 'London'}

In [20]:
#del 
cube={1:1,2:8,3:27,4:64,5:125}
del cube[4]  # 4 keyini siler
cube

{1: 1, 2: 8, 3: 27, 5: 125}

In [21]:
#del dictionary
del cube

In [22]:
cube #cube silindi del cube ile

NameError: name 'cube' is not defined

In [23]:
#clear()
cube={1:1,2:8,3:27,4:64,5:125}
cube.clear()  #ile dictionary içi silinir dictionary kaybolmaz
cube

{}

In [26]:
#dictionary itemi ile loop
cube={1:1,2:8,3:27,4:64,5:125}
for num in cube:
    print("Cube of",num,"is",cube[num])

Cube of 1 is 1
Cube of 2 is 8
Cube of 3 is 27
Cube of 4 is 64
Cube of 5 is 125

In [27]:
#len
len(cube)

5

In [28]:
#name in details
#email not in details

In [30]:
#sort() yapılabilir
vowel={'e':1,'a':2,'u':3,'o':4,'i':5}
sorted(vowel,reverse=True)  #tersten sıralar

['u', 'o', 'i', 'e', 'a']

In [31]:
details={'name':'Andy','age':30,'address':'London'}
details.keys()

dict_keys(['name', 'age', 'address'])

In [32]:
details.values()

dict_values(['Andy', 30, 'London'])

In [33]:
details.items()

dict_items([('name', 'Andy'), ('age', 30), ('address', 'London')])

In [35]:
det2=details.copy()
det2

{'name': 'Andy', 'age': 30, 'address': 'London'}

In [36]:
#update()
car={"brand":"Audi","model":"A7","year":2019}
car.update({'color':'white'})
car

{'brand': 'Audi', 'model': 'A7', 'year': 2019, 'color': 'white'}

In [37]:
#Ayrıca update ile değer de değiştirilebilir
car.update({'color':'Black'})
car

{'brand': 'Audi', 'model': 'A7', 'year': 2019, 'color': 'Black'}

In [38]:
#birden fazla update yapmak istersek
car.update(cost='60000$',color='Blue')
car

{'brand': 'Audi',
 'model': 'A7',
 'year': 2019,
 'color': 'Blue',
 'cost': '60000$'}

In [39]:
#fromkeys()  
keys1={'a','e','i','o','u'}
values='vowels'
dict.fromkeys(keys1,values)
#ilgili keyleri alıp values ile birleştiriyor

{'u': 'vowels', 'e': 'vowels', 'a': 'vowels', 'i': 'vowels', 'o': 'vowels'}

In [40]:
#setdefault()
employee={'name':'Mutlu'}
employee.setdefault('salary')  #None değeri olan salary key ile oluşturur
employee

{'name': 'Mutlu', 'salary': None}

In [41]:
employee.setdefault('company','Google')
employee

{'name': 'Mutlu', 'salary': None, 'company': 'Google'}

In [42]:
#dir()
dict1={}
print(dir(dict1))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [43]:
#dictionary comprehension
{x:x**3 for x in range(10)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [44]:
fruits=['apple','mango','banana']
{key: len(key) for key in fruits}

{'apple': 5, 'mango': 5, 'banana': 6}

In [47]:
def welcomeUser(name):
    """
    This function for user
    """
    print("Dear "+str(name))

In [48]:
welcomeUser("Andy")

Dear Andy

In [49]:
def verifyEvenOdd(num):
    if (num%2==0):
        print("{} is even number".format(num))
    else:
        print("{} is odd number".format(num))

In [50]:
verifyEvenOdd(15)

15 is odd number

In [51]:
verifyEvenOdd(16)

16 is even number

In [52]:
#doc string
print(welcomeUser.__doc__)

    This function for user

In [53]:
def add1(x,y):
    return x+y

In [54]:
add1(10,25)

35

In [55]:
globalVar="This is global variable"
def test_life_time():
    print(globalVar)
    
test_life_time()
print(globalVar)

This is global variable
This is global variable

In [56]:

def test_life_time():
    localVar="This is local variable"
    print(localVar)
    
test_life_time()
print(localVar)

This is local variable

NameError: name 'localVar' is not defined

In [57]:
def welcomeUser(name,message):
    """
    This function for user
    """
    print("Dear {0}, {1}".format(name,message))
    
welcomeUser("Andy","Have a nice day")

Dear Andy, Have a nice day

In [58]:
welcomeUser("Mike")

TypeError: welcomeUser() missing 1 required positional argument: 'message'

In [59]:
#şimdi bu problemi çözelim
def welcomeUser(name,message="Have a nice day"):
    """
    This function for user
    """
    print("Dear {0}, {1}".format(name,message))
    
welcomeUser("Andy")
#default değerler hep sağdaki değişkenlerde olmalı ilk değişken olmaz

Dear Andy, Have a nice day

In [61]:
welcomeUser("Andy","Good Morning")

Dear Andy, Good Morning

In [63]:
#kwargs
def employeeDetails(**user):
    """
    This function for employee
    """
    print("Name: ",user['name'])
    print("Age: ",user['age'])
    print("Company: ",user['company'])
employeeDetails(name="Mike",age=30,company="XYZ")

Name:  Mike
Age:  30
Company:  XYZ

In [64]:
def employeeDetails(name,age,company):
    """
    This function for employee
    """
    print("Name: ",name)
    print("Age: ",age)
    print("Company: ",company)
employeeDetails(name="Mike",age=30,company="XYZ")

Name:  Mike
Age:  30
Company:  XYZ

In [65]:
#2 parametrenin değeri verilirse üçüncü verilmezse çalışır
#ancak 2 parametre verilmezse hata verir

In [66]:
def welcomeUser(*names):
    """
    This function for user
    """
    print("The value entered by user",names)
    
    for name in names:
        print("Dear "+str(name) +", Welcome to Python")
welcomeUser("Andy","Mike","Paul","Alvin")

The value entered by user ('Andy', 'Mike', 'Paul', 'Alvin')
Dear Andy, Welcome to Python
Dear Mike, Welcome to Python
Dear Paul, Welcome to Python
Dear Alvin, Welcome to Python

In [67]:
#Recursive Function
def welcome_user_one():
    print("Hello User One")
welcome_user_one()

Hello User One

In [68]:
def welcome_user_two():
    print("Hello User Two")
    welcome_user_one()
welcome_user_two()

Hello User Two
Hello User One

In [72]:
#factorial
def factorial(num):
    return 1 if num==1 else (num*factorial(num-1))

factorial(5)

120

In [ ]:
#4 saatlik eğitim burada bitti