In [1]:
#https://www.udemy.com/course/master-data-analysis-with-python-selecting-subsets-of-data/learn/lecture/29637298?start=0#overview
#2saat

# Selecting Subsets of Data from DataFrames with Just the Brackets

One of the most common tasks during a data analysis involves selecting a subset of the dataset. In pandas, this means selecting particular rows and/or columns from a DataFrame or selecting values from a Series. Although subset selection sounds like an easy task, and is an easy task for many other data manipulation tools, it's actually quite complex with pandas.

### Examples of selections of subsets of data

The following images show different types of subset selection that are possible. The DataFrame on the left is the original with the selection highlighted. The DataFrame on the right is the result of the selection.

### Selecting columns

The most common subset selection involves selecting one or more columns of a DataFrame. In this example, we select the `color`, `age`, and `height` columns. 

![2]


### Selecting rows

Subsets of rows are a less frequent selection. In this example, we select the rows labeled `Aaron` and `Dean`.

![3]

### Simultaneous row and column selection

The last type of subset selection involves selecting rows and columns simultaneously. In this example, we select the rows labeled `Aaron` and `Dean` along with the columns `color`, `age`, and `height`.

![4]

[1]: images/sample_df.png
[2]: images/select_columns.png
[3]: images/select_rows.png
[4]: images/select_rows_columns.png

## pandas dual references - by label and by integer location

As previously mentioned, the index of each DataFrame provides a label to reference each individual row. Similarly, the column names provide a label to reference each column. What hasn't been mentioned, is that each row and column may be referenced by an integer as well. I call this **integer location**. The integer location begins at 0 for the first row and continues sequentially one integer at a time until the last row. The last row will have integer location `n - 1`, where `n` is the total number of rows in the DataFrame. 

Take a look above at our DataFrame one more time. The rows with labels `Aaron` and `Dean` can also be referenced by their respective integer locations 2 and 4. Similarly, the columns `color`, `age`, and `height` can be referenced by their integer locations 1, 3, and 4.

The official pandas documentation refers to integer location as **position**. I don't particularly like this terminology as it's not as explicit as integer location. The key term here is the word **integer**.

### What's the difference between indexing and selecting subsets of data?

The documentation uses the term **indexing** frequently. This term is a shorter, more technical term that refers to **subset selection**. I prefer the term subset selection, as, again, it is more descriptive of what is actually happening. Indexing is also the term used in the official Python documentation (for selecting subsets of lists or strings for example).

## The three indexers `[ ]`, `loc`, `iloc`

pandas provides three **indexers** to select subsets of data. An indexer is a term for one of  `[ ]`, `loc`, or `iloc` and is what makes the subset selection. All the details on how to make selections with each of these indexers will be covered. Each indexer has different rules for how they work. All of our selections will look similar to the following, except they will have something placed within the brackets.

```python
>>> df[]
>>> df.loc[]
>>> df.iloc[]
```

### Terminology

When the brackets are placed directly after the DataFrame variable name, the term **just the brackets** will be used to differentiate them from the brackets after `loc` and `iloc`.

### Square brackets instead of parentheses

One of the most common mistakes when using `loc` and `iloc` is to append parentheses to them, instead of square brackets. One of the main reasons this mistake is done is because `loc` and `iloc` appear to be methods and all methods are called with parentheses. Both `loc` and `iloc` are NOT methods, but are accessed in the same manner as methods through dot notation, which leads to the mistake.

Few objects accessed through dot notation use brackets instead of parentheses. In Python, the brackets are a universal operator for selecting subsets of data regardless of the type of object. The brackets select subsets of lists, strings, and select a single value in a dictionary. numpy arrays use the brackets operator for subset selection. If you are doing subset selection, it's likely that you need brackets and not parentheses.

## Begin with *just the brackets*

As we saw in a previous chapter, just the brackets are used to select a single column as a Series. We place the column name inside the brackets to return the Series. Let's read in a simple, small DataFrame and select a single column from it. We use the `index_col` parameter to set the index to the first column (integer location 0) on read.

In [2]:
#loc labellara göre seçmek için
#iloc integer location kolonun sırasına göre seçmek için kullanılır

In [4]:
import pandas as pd
df = pd.read_csv('../data/sample_data.csv', index_col=0)
df

          state  color    food  age  height  score
name
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

Append square brackets directly to the DataFrame variable name and then place the name of the column within those brackets. This selects a single column of data as a Series.

In [5]:
df['color']

name
Jane          blue
Niko         green
Aaron          red
Penelope     white
Dean          gray
Christina    black
Cornelia       red
Name: color, dtype: object

## Select multiple columns with a list

Select multiple columns by placing the column names in a list inside of just the brackets. Notice that a DataFrame and NOT a Series is returned.

In [6]:
df[['color', 'age', 'score']]

           color  age  score
name
Jane        blue   30    4.6
Niko       green    2    8.3
Aaron        red   12    9.0
Penelope   white    4    3.3
Dean        gray   32    1.8
Christina  black   33    9.5
Cornelia     red   69    2.2

### You must use an inner set of brackets

You might be tempted to do the following, which will NOT work. When selecting multiple columns, you must use a **list** to contain the names. Remember, that a list is defined by a set of square brackets, so the following raises an error.

In [7]:
df['color', 'age', 'score']
#iç [] listeyi seçer
#dış [] subset seçmeye yarar.

KeyError: ('color', 'age', 'score')

### The inner square brackets define a list, the outer square brackets do subset selection

To help understand the double set of brackets, take a look at the following image. The inner set of brackets define a list of three items. The outer set of brackets mean something completely different. They inform the DataFrame to make a subset selection.

![0]

This difference is confusing because the exact same syntax, the brackets, have a different meaning depending on where they are used. When the brackets are appended directly to the right of a variable name, they translate as "subset selection". When the brackets appear apart from any variable, they translate as "create a list".

[0]: images/list_vs_bracket_selection.png

### Use two lines of code to select multiple columns

To help clarify the process of making subset selection, I recommend using intermediate variables. In this instance, we assign the columns we would like to select to a list and then pass this list to the brackets.

In [8]:
cols = ['color', 'age', 'score']
df[cols]

           color  age  score
name
Jane        blue   30    4.6
Niko       green    2    8.3
Aaron        red   12    9.0
Penelope   white    4    3.3
Dean        gray   32    1.8
Christina  black   33    9.5
Cornelia     red   69    2.2

### Columns in any order

The order of the column names in the list is important. The new DataFrame will have the columns in the order given from the list.

In [9]:
cols = ['height', 'age']
df[cols]

           height  age
name
Jane          165   30
Niko           70    2
Aaron         120   12
Penelope       80    4
Dean          180   32
Christina     172   33
Cornelia      150   69

## Summary of *just the brackets*

The primary purpose of *just the brackets* is to select either one or more entire columns as either a Series or DataFrame. Providing it a single column returns a Series, while providing it a list of columns returns a DataFrame. In later chapters, we will see how to select rows using *just the brackets* by passing it a boolean Series.

## Exercises

Read in the movie dataset by executing the cell below and use it for the following exercises.

In [10]:
pd.set_option('display.max_columns', 50)
movie = pd.read_csv('../data/movie.csv', index_col='title')
movie.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,Wes Studi,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,Jack Davenport,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,Stephanie Sigman,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

### Exercise 1

<span  style="color:green; font-size:16px">Select the column with the director's name as a Series</span>

In [11]:
movie['director_name']

title
Avatar                                            James Cameron
Pirates of the Caribbean: At World's End         Gore Verbinski
Spectre                                              Sam Mendes
The Dark Knight Rises                         Christopher Nolan
Star Wars: Episode VII - The Force Awakens          Doug Walker
                                                    ...
Signed Sealed Delivered                             Scott Smith
The Following                                               NaN
A Plague So Pleasant                           Benjamin Roberds
Shanghai Calling                                    Daniel Hsia
My Date with Drew                                      Jon Gunn
Name: director_name, Length: 4916, dtype: object

### Exercise 2

<span  style="color:green; font-size:16px">Select the column with the director's name and number of Facebook likes.</span>

In [12]:
movie[['director_name','director_fb']]

                                                director_name  director_fb
title
Avatar                                          James Cameron          0.0
Pirates of the Caribbean: At World's End       Gore Verbinski        563.0
Spectre                                            Sam Mendes          0.0
The Dark Knight Rises                       Christopher Nolan      22000.0
Star Wars: Episode VII - The Force Awakens        Doug Walker        131.0
...                                                       ...          ...
Signed Sealed Delivered                           Scott Smith          2.0
The Following                                             NaN          NaN
A Plague So Pleasant                         Benjamin Roberds          0.0
Shanghai Calling                                  Daniel Hsia          0.0
My Date with Drew                                    Jon Gunn         16.0

[4916 rows x 2 columns]

### Exercise 3

<span  style="color:green; font-size:16px">Select a single column as a DataFrame and not a Series</span>

In [15]:
movie[['director_fb']]

                                            director_fb
title
Avatar                                              0.0
Pirates of the Caribbean: At World's End          563.0
Spectre                                             0.0
The Dark Knight Rises                           22000.0
Star Wars: Episode VII - The Force Awakens        131.0
...                                                 ...
Signed Sealed Delivered                             2.0
The Following                                       NaN
A Plague So Pleasant                                0.0
Shanghai Calling                                    0.0
My Date with Drew                                  16.0

[4916 rows x 1 columns]

### Exercise 4

<span  style="color:green; font-size:16px">Look in the data folder and read in another dataset. Select some columns from it.</span>

In [20]:
!ls ../data

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [22]:
air = pd.read_csv('../data/airbnb.csv')
air.head()

,id,neighborhood,room_type,accommodates,bedrooms,price,security_deposit,cleaning_fee,rating,superhost,response_time,acceptance_rate,host_since,last_review,num_reviews,latitude,longitude,minimum_nights,maximum_nights
0,3686,Historic Anacostia,Private room,1,1.0,55,25,25,4.60,0,a few days or more,67%,2008-11-26,2021-08-09,76,38.86339,-76.98889,2,365
1,3943,Edgewood,Private room,2,1.0,71,50,0,4.81,0,NaN,NaN,2008-12-12,2021-09-11,434,38.91195,-77.00456,2,1125
2,4529,Eastland Gardens,Private room,4,1.0,54,25,50,4.66,0,within a few hours,NaN,2008-12-30,2019-07-05,102,38.90585,-76.94469,30,180
3,4967,Edgewood,Private room,1,1.0,99,50,0,4.74,1,within an hour,85%,2009-01-26,2016-09-22,31,38.91409,-76.99368,2,365
4,5589,Kalorama Heights,Entire home/apt,3,1.0,99,50,0,4.54,0,within a few hours,11%,2009-01-13,2020-03-05,95,38.91887,-77.04008,5,24

In [24]:
air[['bedrooms','price','superhost']].head(3)

   bedrooms  price  superhost
0       1.0     55          0
1       1.0     71          0
2       1.0     54          0