<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# Practice Notebook: Data Cleaning with Python - Standardisation

## 1. Standardisation

#### <font color="blue">Pre-requisites</font>

In [ ]:
# Pre-requisites
# ---
# Importing pandas and numpy library
# ---
# OUR CODE GOES BELOW
# 
import pandas as pd

import numpy as np

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [ ]:
# Example 1
# --- 
# Renaming column names
# ---
# Dataset url = http://bit.ly/SampleDataset
# ---
# OUR CODE GOES BELOW
# 

# Reading our dataset from the url 
# ---
# 
df = pd.read_csv('http://bit.ly/SampleDataset')
df.head()

In [ ]:
# Example 1a
# ---
# Renaming the column names
# ---
#
df.columns = ['name', 'city', 'country', 'height', 'weight', 'account_a', 'account_b', 'total_account']
df.head()

In [ ]:
# Example 1b
# ---
# Renaming our columns, if we have many column names.
# ---
# 
df1 = pd.read_csv('http://bit.ly/SampleDataset')
df1.head()

In [ ]:
# We use the str.strip(), str.lower(), str.replace() functions
# ---
df1.columns = df1.columns.str.strip().str.lower().str.replace(' ', '_')
df1.head()

##### <font color="blue">Example 2</font>

In [ ]:
# Example 2
# ---
# String conversion: Convert city column to lower case
# ---
# Dataset url = http://bit.ly/SampleDataset
# ---
# OUR CODE GOES BELOW
# 

# Converting the city column to lowercase 
# ---
# 
df['city'] = df['city'].str.lower()
df.head()

##### <font color="blue">Example 3</font>

In [ ]:
# Example 3
# ---
# Metric conversion: Height inches to cm
# Hint: 1 inch = 2.54 cm
# ---
# Dataset url = http://bit.ly/SampleDataset
# ---
# 

df['height'] = df['height'] * 2.54
df.head()

In [ ]:
# Determining the datatypes
# ---
# 
df.dtypes

In [ ]:
# Performing our conversion
# ---
# 
df['height'] = df['height'].apply(np.int64)

# Confirming our conversion
# ---
# 
df.dtypes

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Rename the columns in the following dataset.
# ---
# Dataset url = http://bit.ly/GVProjectsFunding
# ---
# OUR CODE GOES BELOW
#

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Convert the given weight in the dataset from pounds to kgs. 
# Hint: 1 pound = 0.453592 kgs
# ---
# Dataset url = http://bit.ly/SampleDataset
# ---
# OUR CODE GOES BELOW
#

##### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# ---
# Question: Convert the variables account_a and account_b to the datatype float
# ---
# Dataset url = http://bit.ly/SampleDataset
# ---
# OUR CODE GOES BELOW
#